node_modules
.DS_Store
dist
dist-ssr
dist-example
*.local
.idea
coverage
docs/docs/api
es
umd
example-dist
cdn
test-results/
playwright-test-results/
playwright-report/
testpageDist
dependency-graph.png
.vscode
# Devenv
.devenv*
devenv.local.nix

