body {
  background-color: #111;
}

main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #bbb;
  width: 40vw;
}

.wrapper {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}